@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Fahkwang', sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-blur-l {
  color: transparent;
  text-shadow: 0 0 8px rgba(255, 255, 255, 1);
}

.text-blur-s {
  color: transparent;
  text-shadow: 0 0 4px rgba(255, 255, 255, 1);
}

.text-blur-xs {
  color: transparent;
  text-shadow: 0 0 2px rgba(255, 255, 255, 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
