@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body,
html {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  font-family: 'Fahkwang', sans-serif;
  background-color: #242526;
  scroll-behavior: smooth;
  padding-bottom: env(safe-area-inset-bottom);
}

.text-blur-xl {
  color: transparent;
  text-shadow: 0 0 24px rgba(255, 255, 255, 1);
}

.text-blur-l {
  color: transparent;
  text-shadow: 0 0 8px rgba(255, 255, 255, 1);
}

.text-blur-s {
  color: transparent;
  text-shadow: 0 0 4px rgba(255, 255, 255, 1);
}

.text-blur-xs {
  color: transparent;
  text-shadow: 0 0 2px rgba(255, 255, 255, 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}